<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Start: *TODO: "Se comenta o elimina "
  <div>
    <%#= form.label :user_id, style: "display: block" %>
    <%#= form.text_field :user_id %>
  </div>
  End: *TODO: -->

  <div>
    <%= form.label :name, style: "display: block" %>
    <!-- Start: *TODO: "Validacion" -->
    <%= form.text_field :name, 
        autofocus: true,
        required: true %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <!-- Start: *TODO: "Validacion" -->
    <%= form.text_area :description,
        required: true,
        minlength: 10 %>
  </div>



  <!-- SELECCIONAR CATEGORIA  -->
  <!-- Start: *TODO: "Categoria colecion" -->
  <div>

    <%= form.label :category_id, style: "display: block" %>
    <%#= form.collection_select :category_id, Category.all, :id, :name %>
    <%= form.collection_select :category_id, 
        Category.where(available: true), :id, :name,
        include_blank: true,
        required: true %>

  </div>
  <!-- End: *TODO: -->

  <!-- FEATURE  -->
  <!-- Start: *TODO: "Feature" -->
  <div>
    <%= form.label :feature, style: "display: block" %>
    <%= form.collection_check_boxes :feature_ids,
        Feature.where(available: true), :id, :name,
        required: true %>
  </div>
  <!-- End: *TODO: -->



  <div>
    <%= form.label :price, style: "display: block" %>
    <!-- Start: *TODO: "Validacion" -->
    <%= form.number_field :price,
        required: true,
        min: 0 %>
  </div>

  <div>
    <%= form.label :release_date, style: "display: block" %>
    <!-- Start: *TODO: "Validacion" -->
    <%= form.date_field :release_date,
        required: true,
        value: Date.today %>
  </div>

  <div>
    <%= form.label :link_to_website, style: "display: block" %>
    <!-- Start: *TODO: "Validacion" -->
    <%= form.text_field :link_to_website, 
        required: true,
        value: "https://" %>
  </div>

  <div>
    <%= form.label :available, style: "display: block" %>
    <%= form.check_box :available %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
