<p style="color: green"><%= notice %></p>

<%= render @product %>

<!--
<div>
  <%#= link_to "Edit this product", edit_product_path(@product) %> |
  <%#= link_to "Back to products", products_path %>

  <%#= button_to "Destroy this product", @product, method: :delete %>
</div>
-->
<!-- Start: *TODO: "Solo dueño ve edit y destroy " -->
<div>
  <% if user_signed_in? %>
    <% if current_user.id == @product.user_id %>
      <%= link_to "Edit this product", edit_product_path(@product) %>
      <%= button_to "Destroy this product", @product, method: :delete %>
    <% end %>
  <% end %>
  <br />
  <%= link_to "Back to products", products_path %>
</div>
<!-- End: *TODO: -->