<!DOCTYPE html>
<html>
  <head>
    <title>ElectronicShowCaseApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <!-- Start: *TODO: -->
    <!-- NAV LINK -->
    <nav>
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Terms", terms_path %></li>
        <li><%= link_to "Privacy", privacy_path %></li>
        <li><%= link_to "Contacts", new_contact_path %></li>
      </ul>
    </nav>
    <!-- End: *TODO: -->

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
